
.banner-container{
    background: url('https://s3-alpha-sig.figma.com/img/e743/8927/0934542578d7a5804676ffdeb1326d02?Expires=1698624000&Signature=LuH9nIpa033fNKGJDrgaZvPGvsKa4ye3IkbeoDs0~kBNlMmqrk5f2KGgKZ0dMgr7FT2izOmwtZlnoJ49UVLS0UbI0X9JS6nlGTdy8HBlJ~bE4cflBqEp6Ko24UaUkXvf1TBI9TfoUfarM1uvwzJBBlaTWyqzS65EgdTiE~9nM2dhHV60tWXD~Q1kDvHPFLE8p-oC0nHI1q~dN6mVfl0KWelN-YuRx~Qek8LZ7XHN37ZenbeGIixrN7agT6cYc6hCV1xffc4FXCOo3yWLBZeqH8GMvQvjMARwtGFjoxxQ0riLv~rDe4rZY7lxQjhi~afUSn~1s2NO4RGWM~yCQVpfQw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 119px;
}

.banner-header{
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: normal; */
    letter-spacing: -0.64px;
    padding-bottom: 17px;
    margin: 0;
}

.banner-small{
    color: #C4C4C4;
    font-family: Montserrat;
    font-size: 14px;
    /* font-style: normal; */
    font-weight: 500;
    line-height: normal;
    padding-bottom: 17px;
    margin: 0;
}